
Autotest-Java-Tasks/Selenium/ITVDN/.idea/codeStyles/Project.xml
Autotest-Java-Tasks/Selenium/ITVDN/.idea/ITVDN.iml
Autotest-Java-Tasks/Selenium/ITVDN/.idea/modules.xml
Autotest-Java-Tasks/Selenium/ITVDN/.idea/vcs.xml
Autotest-Java-Tasks/Selenium/ITVDN/.idea/ITVDN.iml
Autotest-Java-Tasks/Selenium/ITVDN/.idea/codeStyles/codeStyleConfig.xml
Autotest-Java-Tasks/Selenium/ITVDN/Web testing automation on java/Simple_4_JUnit4_TestNG/01_JUnit4/.idea/codeStyles/codeStyleConfig.xml
Autotest-Java-Tasks/Selenium/ITVDN/Web testing automation on java/Simple_4_JUnit4_TestNG/01_JUnit4/.idea/codeStyles/Project.xml
Autotest-Java-Tasks/Selenium/ITVDN/Web testing automation on java/Simple_4_JUnit4_TestNG/02_JUnit5/.idea/codeStyles/Project.xml
Autotest-Java-Tasks/Selenium/ITVDN/Web testing automation on java/Simple_4_JUnit4_TestNG/02_JUnit5/.idea/codeStyles/codeStyleConfig.xml
Autotest-Java-Tasks/Selenium/ITVDN/Web testing automation on java/Simple_4_JUnit4_TestNG/03_TestNG/.idea/codeStyles/codeStyleConfig.xml
Autotest-Java-Tasks/Selenium/ITVDN/Web testing automation on java/Simple_4_JUnit4_TestNG/03_TestNG/.idea/codeStyles/Project.xml
Autotest-Java-Tasks/Selenium/Sandbox/.idea/codeStyles/codeStyleConfig.xml
Autotest-Java-Tasks/Selenium/Sandbox/.idea/codeStyles/Project.xml
Autotest-Java-Tasks/Selenium/Speciaist/.idea/codeStyles/codeStyleConfig.xml
Autotest-Java-Tasks/Selenium/Speciaist/.idea/codeStyles/Project.xml
Autotest-Java-Tasks/Selenium/ITVDN/Web testing automation on java/Simple_1_Intro/.idea/sbt.xml
Autotest-Java-Tasks/Selenium/ITVDN/Web testing automation on java/Simple_1_Intro/.idea/codeStyles/Project.xml
Autotest-Java-Tasks/Selenium/ITVDN/Web testing automation on java/Simple_1_Intro/.idea/codeStyles/codeStyleConfig.xml
